<div class="row">
    <div class="col-6">
      <h1>New Order</h1>
    </div> 
    <div class="col-6 ">
      <%= link_to 'Back', orders_path , class: "btn btn-outline-primary float-right" %>
    </div> 
  </div>
<div class="page">
    <%= render 'form', order: @order %>
</div>