<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using currior service, <%= @email %>!</h1>
    <p>Thanks for joining and have a great day! </p>
    <p>Your track Consignment number is <%= @consignment_number %></p>
  </body>
</html>